.bg-pokemonType-normal {
    background-color: #acad99;
}

.bg-pokemonType-fighting {
    background-color: #C45D4C;
}

.bg-pokemonType-flying {
    background-color: #90AAD7;
}

.bg-pokemonType-poison {
    background-color: 	#B369AF;    
}

.bg-pokemonType-ground {
    background-color: #CEB250;
}

.bg-pokemonType-rock {
background-color: 	#BAA85E;    
}

.bg-pokemonType-bug {
background-color: 	#ACC23E;    
}

.bg-pokemonType-ghost {
    background-color: #816DB6;
}

.bg-pokemonType-steel {
    background-color: #9FA9AF;
}

.bg-pokemonType-fire {
background-color: 	#E87A3D;
}

.bg-pokemonType-water {
    background-color: #639CE4;
}

.bg-pokemonType-grass {
    background-color: #82C95B;
}

.bg-pokemonType-electric {
    background-color: #E7C536;
}

.bg-pokemonType-psychic {
    background-color: #E96C95;
}

.bg-pokemonType-ice {
    background-color: #81CFD7;
}

.bg-pokemonType-dragon {
    background-color: #8572C8;
}

.bg-pokemonType-dark {
    background-color: #79726B;
}

.bg-pokemonType-fairy {
    background-color: #E8B0EB;
}